In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import io
import scipy.stats
import scipy.special
import sklearn.linear_model
import statsmodels.api as sm
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
from sklearn.metrics import f1_score
from sklearn.metrics import recall_score
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.utils import resample
from sklearn.metrics import accuracy_score, classification_report, balanced_accuracy_score, confusion_matrix
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from imblearn import under_sampling, over_sampling
from imblearn.over_sampling import SMOTE

In [2]:
data = pd.read_csv('fraud_dectectionscaled.csv')
data = data.drop(columns = 'Unnamed: 0')
data

,Amount,OldbalanceOrg,NewbalanceOrig,OldbalanceDest,NewbalanceDest,Fraud,Type_CASH_OUT,Type_DEBIT,Type_PAYMENT,Type_TRANSFER,Type2_CM
0,9839.64,170136.00,160296.36,0.00,0.00,0,0,0,1,0,1
1,1864.28,21249.00,19384.72,0.00,0.00,0,0,0,1,0,1
2,181.00,181.00,0.00,0.00,0.00,1,0,0,0,1,0
3,181.00,181.00,0.00,21182.00,0.00,1,1,0,0,0,0
4,11668.14,41554.00,29885.86,0.00,0.00,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...
6362615,339682.13,339682.13,0.00,0.00,339682.13,1,1,0,0,0,0
6362616,6311409.28,6311409.28,0.00,0.00,0.00,1,0,0,0,1,0
6362617,6311409.28,6311409.28,0.00,68488.84,6379898.11,1,1,0,0,0,0
6362618,850002.52,850002.52,0.00,0.00,0.00,1,0,0,0,1,0
6362619,850002.52,850002.52,0.00,6510099.11,7360101.63,1,1,0,0,0,0